* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#app{
    height: 100%;
    background-color: var(--ylt-bg-color);
}

.container {
    margin: var(--ylt-main-space) var(--ylt-main-space) 60px;
}

.table-header {
    .table-header-operate .icon {
        color: var(--el-color-white) !important;
    }
}


// iocn
.ba-icon-dark {
    color: var(--el-text-color-primary) !important;
}

.ba-operate-dialog {
    min-width: 400px;
    overflow: hidden;
    border-radius: var(--el-border-radius-base);
}